@import '_variables';
@import '_mixins';

.excel__toolbar {
    display: flex;
    align-items: center;
    position: absolute;
    height: $toolbar-height;
    top: $header-height; left: 0; right: 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    .button {
        @include button();
    }
}